@charset "utf-8";
@import "_tool.scss";
@mixin libefore {
  &::before {
    content: "|";
    margin: 0 20px;
    font-weight: 300;
  }
}
//上方导航栏
.header-nav {
  width: 100%;
  height: 0.33rem;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  .header-nav-wrap {
    margin: 0 auto;
    @include clearfloat();
  }
}
.header-nav-content {
  float: right;
  line-height: 0.33rem;
  color: #999;
  a {
    color: #999;
    display: inline-block;
  }
  li {
    width: 0.1rem;
    height: 0.12rem;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    background-size: contain;
  }
  .header-nav-home {
    li {
      background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181226_5f4j2e62hj1kk9dd49f433b08bfbh_20x20.png);
    }
  }
  .header-nav-market {
    li {
      background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181212_4c5eb9ijbla4a1948fhjiiiag725h_20x20.png);
    }
    @include libefore();
  }
  .header-nav-order {
    @include libefore();
  }
  .header-about-us {
    @include libefore();
    li {
      margin-left: 0.04rem;
      width: 0.06rem;
      height: 0.06rem;
      background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181205_8eg8ea1a3k85c16ai1hl4735kalkf_16x10.png);
      background-size: 100%;
    }
  }
}
//搜索框
.header-wrap {
  width: 100%;
  height: 1rem;
  margin: 0 auto;
  //logo
  .logo {
    float: left;
    width: 1.3rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 100%;
    img {
      height: 100%;
      float: left;
    }
  }
  //目录
  .header-category {
    float: left;
    margin-left: 0.3rem;
    font-size: 0.15rem;
    line-height: 1rem;
    color: #333;
    i {
      display: inline-block;
      background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181205_71dg024jd2e3d17jjjhi3a52k9kal_36x24.png);
      background-repeat: no-repeat;
      width: 0.18rem;
      height: 0.12rem;
      background-size: cover;
      margin-right: 2px;
    }
  }
}
//导航栏
.search-nav-content {
  float: left;
  margin-left: 0.76rem;
  .normal-search-content {
    height: 0.44rem;
    float: left;
    margin-top: 0.28rem;
    width: 5.52rem;
    .top-nav-search {
      position: relative;
      width: 100%;
      .top-nav-form {
        border-radius: 0.06rem;
        background: #f7f7f7;
        width: 100%;
        overflow: hidden;
        .ts_txt {
          float: left;
          width: calc(100% - 0.9rem);
          height: 0.48rem;
          line-height: 0.48rem;
          border: none;
          font-size: 0.14rem;
          background: #f7f7f7;
          color: #666;
          padding: 0 0.15rem;
        }
        .ts_btn {
          float: right;
          width: 0.58rem;
          height: 0.48rem;
          border: none;
          cursor: pointer;
          border-radius: 0 0.05rem 0.05rem 0;
          background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  .site-top-nav {
    float: left;
    margin-top: .27rem;
    width: 3.42rem;
    margin-left: .20rem;
    height: .49rem;
    ul {
      padding-top:.04rem;
      color: #333;
      li {
        float: left;
        height: .45rem;
        line-height: .20rem;
      }
      a {
        display: block;
        height: .24rem;
        margin-bottom:.02rem;
      }
      .header-message {
        a {
          width: .24rem;
          background: url(../img/header-list-meg.png) no-repeat 0 0/100%;
        }
      }
      .header-fav {
        margin-left: .28rem;
        a {
          width: .24rem;
          background: url(../img/header-list-star.png) no-repeat 0 0/100%;
        }
      }
      .header-cart{
        margin-left: .24rem;
        a{
          width: .36rem;
          background: url(../img/header-list-cart.png) no-repeat center 0/auto 100%;
        }
      }
      .header-download{
        margin-left: .2rem;
        position: relative;
        a{
          width: .445rem;
          background: url(../img/header-list-code.png) no-repeat center 0/auto 100%;
        }
        div{
          display:none;
          position: absolute;
          z-index: 2;
          left: -.80rem;
        }
        &:hover div{
            display: block;
        }
      }
      .header-user-info{
        float: right;
        margin-left: .3rem;
        line-height: .4rem;
        font-size: .14rem;
        color: #333;

        a{
          display: flex;
          align-items: center;
          height: .4rem;
          img{
            width: .3rem;
            height: .3rem;
            margin-right:.06rem;
          }
        }

      }
    }
  }
}
