@mixin clearfloat{
    &::after{
        content:'';
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        clear: both;
    }
}
@mixin ellipse($height:100px,$width:500px,$row:1){
    width: $width;
    height: $height;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    overflow: hidden;
}